
.main_header_bg{
    width: 100%;
    height: 650px;
    position: absolute;
    z-index: -100;
    background: linear-gradient(to bottom, rgb(32, 183, 253), white);
}

.main_footer_bg{
    width: 100%;
    height: 150px;
    position: absolute;
    z-index: -100;
    background: linear-gradient(to top, rgb(32, 183, 253), 75%, white);
}

#main_box{ 
    position: relative;
    display: flex;
    max-width: 1080px; 
    justify-content: center; }

    
.context_form{
    max-width:800px;
    border-radius: 10px;
    background-color: white;
}

.title_box{
    margin-top: 12px;
    
}
label{ font-weight: bolder; }
.title_box>input{ box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075) , 0 0 8px rgba(159, 159, 159, 0.6); }

.text_editor{
    border-radius: 10px;
    height: 500px;
    margin-bottom: 10px;   
}

.ql-toolbar{
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075) , 0 0 8px rgba(159, 159, 159, 0.6);
    border-radius: 7px 7px 0 0;
}

.editor_textarea{
    height: 400px !important;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075) , 0 0 8px rgba(159, 159, 159, 0.6);
    border-radius: 0 0 7px 7px; 
}

.form_fileBox{margin-bottom: 10px !important;}

.upload_fileList{
    border-radius: 7px;
    padding: 5px 10px;
    box-shadow: 2px 2px 4px 2px #dadce0 inset;
    
}

.file_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    font-size: 1.0rem; 
}

.file_name{
    text-overflow: ellipsis;
}

/* .file_box>i{ font-size: 1.5rem; } */
.file_box>i:hover{ cursor: pointer; }

.btnBoxs{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}