<!-- 루트 메인화면을 ejs로 만들어 놓은 곳 -->
<!-- MVC 모델 중 V -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>여기는 루트입니다</h1>
</body>
</html>     