/* body {
  background-image: url("machi.jpg"); /* 기본 배경 이미지 
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  background-attachment: fixed;
} */

/* 타이틀 */
.my-4 {
  font-size: 50px;
  text-align: center;
  font-family: "Lilita One", cursive;
  color: #ffffff;
  -webkit-text-stroke: 1px black;
}

/* 소개글 */
.my-5 {
  font-size: 30px;
  text-align: center;
  font-family: "Gamja Flower", cursive;
  -webkit-text-stroke: 1px black;
  color: white;
}

.carousel-container {
  position: relative;
  height: 400px; /* 이미지 캐러셀의 높이 설정 */
}

.content {
  position: absolute;
  top: 70%; /* 이미지 캐러셀의 상단에 배치 */
  left: 50%; /* 이미지 캐러셀의 중간에 배치 */
  transform: translate(-50%, -50%); /* 가운데 정렬 */
  text-align: center;
}
