#main_box{ max-width: 1080px; }

.container_header{
    width: 100%;
    height: 100px;
}

.plans_container{
    position: relative;
    max-width: 1080px;
    width : 100%;
    min-height: 500px;
    background-color: snow;
    border-radius: 10px;
    padding: 5px 15px 30px 15px;
    justify-content: center;
}

.plans_header{
    display: flex;
    width : 100%;
    height: 50px;
    border-bottom: 0.125rem solid rgb(224, 223, 223);
    margin-bottom: 15px;
}

.plans_header_ul{
    list-style: none;
    display: inline-flex;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
}

.plans_item{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 90px;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
}

.plans_link_bar{
    display: none;
    width: 25px;
    height: 5px;
    border-radius: 20px;
}

.plans_item:hover{ cursor: pointer; }
.bar_active{ display: block; }
.bar_unActive{ display: none; }
.plans_item:hover .plans_link_bar{ display: block; }

.plans_list{
    row-gap: 1em;
    padding: 15px 20px 15px 20px !important; 
}

.sel_box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 30px 0px 30px; 
}

.sel_all_chkBox{
    display: flex;
    align-items: center;
    padding: 0 !important;
    opacity: 0;
}

.sel_all_chk, .sel_all_chk_lab{ display: block; }

#sel_all_chk{ margin-right: 10px; }

.sel_btn{
    display: block;
    width: 85px !important;
}

.list_items{
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-check-input{
    width: 1.5em !important;
    height: 1.5em !important;
    margin-right: 5px;
}


.list_item{
    display: flex;
    flex-direction: row !important;
}

.list_item:hover{ border: 1px solid #0d6efd; }

.list_item_img{
    display: block;
    width: 150px;
    height: 130px;
    border-radius: 0.375rem;
    background-image: url('../img/bg.jpg');
    background-size: cover;
}

.list_item_body{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    border-radius: 0.375rem;
    padding: 10px !important;
}

.list_item_body_text{
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.875rem;
}

.list_item_body_bottom{
    display: flex;
    justify-content: flex-end;
}

.list_item_body_h{
    font-size: 16px;
    font-weight: bold;
}

.list_item_body_day{ width: 120px; }

.list_item_body_day_date{ margin-left: 5px; }

.checkBoxs{ margin-right: 10px; }

.arrow_icon_box{
    align-items: center;
    justify-content: center;
    width: 40px !important;
    height: 50%;
    border-left: none;
    border-radius: 0px 5px 5px 0px;

}

.btn_box{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 0px 0px 0px; 
    margin-top: 10px;
    bottom: 40px;
    right: 50px;
}

.btn_box > button{
    width: 80px;
    margin-left: 10px;
}